*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 50vh;
    min-width: 100vw;
}

.header{
    position: relative;
    z-index: 10;
}

.container{
    height: calc(100vh - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    background: linear-gradient(135deg, #C973FF, #AEBAF8 60%);
}

.container video{
    width: 400px;
    height: 400px;
    border: black solid 2px;
}

.container h1{
    font-size: 40px;
    font-weight: bolder;
    color: black;
    text-shadow: #0C7BB3 0px 0px 10px;
    margin: 30px;
}

.container .option{
    position: relative;
    width: 350px;
    height: 40px;
    display: flex;
    text-align: center;
    line-height: 40px;
    background-color: white;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.25);
    border-radius: 50px;
    margin-bottom: 20px;
}

.container .controll{
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container .controll button{
    padding: 5px 10px;
    border-radius: 10px;
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0.5), rgba(255,255,255,0.1));
    box-shadow: rgb(180,180,180) -2px -2px 1px,
                rgb(0,0,0,0.5) 2px 2px 1px;
    cursor: pointer;
}

.container .controll button:hover{
    box-shadow: rgb(180,180,180) 2px 2px 1px,
                rgb(0,0,0,0.5) -2px -2px 1px;
}

